/* Responsive styles */
@media screen and (min-width: 768px) {
    /* Adjust layout for larger screens */
    .col1 {
        width: 50%;
        float: left;
    }
    .col2 {
        width: 50%;
        float: right;
    }
}
.nav{
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(33, 32, 32);
}

.col1{
    background-color: aqua;
}
.col2{
    background-color: brown;
}
#tweetInput{
    height: 15rem;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    
}

/* Tweet card styles */
.tweet-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.tweet-card p {
    margin-bottom: 10px;
}

.tweet-card img {
    margin-right: 10px;
    cursor: pointer;
}

/* Delete confirmation modal styles */
.delete-confirm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.modal-content {
    position: relative;
    width: 300px;
    max-width: 80%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
}

.delete-confirm button {
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-confirm button#confirmDelete {
    background-color: #ff5252;
    color: #fff;
    border: none;
}

.delete-confirm button#cancelDelete {
    background-color: #ccc;
    border: none;
}
